<h1>Books</h1>
<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <p>Title: <%= book.title %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Publication Year: <%= book.publication_year %></p>
    <p>Author(s): <% book.authors.each do |author| %>
      <%= author.name %>
    <% end %></p>
  </section>
<% end %>
