<h1>Books</h1>
<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <p>Title: <%= book.title %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Publication Year: <%= book.publication_year %></p>
    <% book.authors.each do |author| %>
      <p><%= author.name %></p>
    <% end %>
  </section>
<% end %>
